.card{
    background-color: transparent;
    margin: 0;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    border: none;
    width: 100px;
}
input{
    width: 100%;
}

textarea{
    width: 100%;
    height: auto;
    
}

.col-lg-6{
    padding-top: 10px;
    padding-bottom: 10px;
}

label{
    font-size: 20px;
}

.message{
    padding-top: 10%;
}