<div class="container">
    <div class="row">
        <div class="col-lg-12 card">
            <h4><strong>MY SKILLS</strong></h4>
            <hr>
            <div class="row">
                    <div class="col-lg-4">
                        <img class="card-img-top" src="assets/HTML.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">HTML</h5>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="card-img-top" src="assets/CSS.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">CSS</h5>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="card-img-top" src="assets/JS.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">JAVASCRIPT</h5>
    
                        </div>
                    </div>
                </div>
                <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img class="card-img-top" src="assets/ANGULAR.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ANGULAR</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="card-img-top" src="assets/REACT.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">REACTJS</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="card-img-top" src="assets/JAVA.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">JAVA</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>