<body>
    <nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
            <a [routerLink]="['/Home']">JAT</a>
        </label>
        <ul>
            <li><a [routerLink]="['/Home']">HOME</a></li>
            <li><a [routerLink]="['/Profile']">ABOUT ME</a></li>
            <li><a [routerLink]="['/Skills']">SKILLS</a></li>
            <li><a [routerLink]="['/Contact']">CONTACT</a></li>
        </ul>
    </nav>
    <div class="components">
        <router-outlet></router-outlet>
    </div>
    

    <!-- <app-profile></app-profile> -->
</body>