.card{
    position: relative;
    margin: 0;
    top: 20px;
    height: 100%;
    border: none;
}


.left-container{
    width: auto;
    background-color: transparent;
    border: none;
    border-right: solid;
    border-color: black;
}
.right-container{
    background: transparent;
}
img{
    border-radius: 50%;
}

.info{
    text-align: center;
}