<div class="container">
    <div class="row">
        <div class="col-lg-4 card left-container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="card-img-top" src="assets/adrian.jpg" alt="Card image cap">
                    <div class="card-body info">
                        <h5 class="card-title"><strong>JHON ADRIAN TIGUSAN</strong></h5>
                        <h6 class="card-title"><strong>WEB DEVELOPER</strong></h6>

                        <p class="card-text">GOOD, BETTER, BEST will not make you the BEST until GOOD is BETTER
                            and BETTER is the BEST</p>
                    </div>
                </div>
                <div class="col-lg-12">

                </div>
            </div>
        </div>
        <div class="col-lg-8 card right-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="objective">
                        <h5><strong>OBJECTIVE</strong></h5>
                        <hr>
                        <p>&nbsp;&nbsp;&nbsp; - Aiming to enhance my skill I have. To
                                gain more experiences in this
                                industry, to grow my personality as a
                                successful person and to fulfill the
                                software developer in your company.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                        <div class="organization">
                            <h5><strong>ORGANIZATION</strong></h5>
                            <hr>
                            <h6>PASSERELLES NUMERIQUES PHILIPPINES | 2018-PRESENT</h6>
                        </div>
                    </div>
                <div class="col-lg-12">
                    <div class="education">
                        <h5><strong>EDUCATION</strong></h5>
                        <hr>
                        <h6>CERTIFICATE OF COMPUTER TECHNOLOGY</h6>
                        <h6>UNIVERSITY OF SAN CARLOS | 2018 - PRESENT</h6>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="projects">
                        <h5><strong>PROJECTS</strong></h5>
                        <hr>
                        <h6>ALARM SYSTEM</h6>
                        <p>&nbsp;&nbsp;&nbsp; - Keep the time management Passerelles Numeriques scholar. With the use
                            of IoT.</p>
                        <br>

                        <h6>BUDGET APP</h6>
                        <p>&nbsp;&nbsp;&nbsp; - A website that display all the product that we can buy in
                            grocery store with the Suggested Retail Price(SRP) using
                            Angular and JSON server.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>